<div class="flex flex-col w-full">
  <div class="mb-4 flex justify-between">
    <h1 class="font-bold text-4xl dark:text-gray-100">All Facilities</h1>
    <%= link_to "Add", new_facility_path, class: "dark:text-gray-100"%>
  </div>
  <div class="table w-full border-collapse table-auto text-sm">
    <div class="table-header-group bg-gray-200 dark:bg-gray-800 shadow-md">
      <div class="table-row">
        <div class="table-cel font-semibold p-4 pl-8 pb-3 text-slate-900 dark:text-slate-200">
          Name
        </div>
        <div class="table-cell font-semibold p-4 pl-8 pt-0 pb-3 text-slate-900 dark:text-slate-200">
          Status
        </div>
        <div class="table-cell font-semibold p-4 pl-8 pt-0 pb-3 text-slate-900 dark:text-slate-200">
          Private
        </div>
        <div class="table-cell font-semibold p-4 pl-8 pt-0 pb-3 text-slate-900 dark:text-slate-200">
          Locations
        </div>
        <div class="table-cel; font-semibold p-4 pl-8 pt-0 pb-3 text-slate-900 dark:text-slate-200">
          Actions
        </div>
      </div>
    </div>
    <div class="table-row-group">
      <%= render @facilities %>
    </div>
  </div>
</div>
